.aboutUsContainer{
    position: relative;
    top: -165px;
    left: 0;
    padding: 15px;
    background-image: url('../../img/singleDonut.png'), url('../../img/cupcakeBox.png');
    background-position: top;
    background-repeat: no-repeat;
}

.aboutUs{
    padding-top: 290px;
}

.aboutUsTitle, .programTitle{
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 65px;
    text-align: center;
}

.aboutUsFirstParagraph, 
.aboutUsSecondParagraph, 
.programParagraph{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.readMoreButton{
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 65px;
    color: #AB816C;
    border: none;
    background-color: transparent;
    padding: 0;
}

.aboutUs, .program{
    width: 290px;
    margin: 0 auto;
}

.aboutUsFirstParagraph{
    padding-bottom: 20px;
}

.program > p:not(:last-child){
    padding-bottom: 20px;
}

.eventContainer{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 290px;
    margin: 0 auto;
}

.eventContainer>div:nth-child(even) {
    margin-top: 25px;
    margin-left: 6px;
}