.circleBg{
    position: absolute;
    width: 142px;
    height: 142px;
}

.eventImg{
    position: relative;
    top: -34px;
    left: 37px;
    width: 65px;
    height: 72px;
}

.eventContainer{
    width: 142px;
    height: 168px;
}


.eventTitle {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.eventTitle{
    position: relative;
    top: -32px;
    left: 0px;
}

.eventDetails {
    position: relative;
    top: -17px;
    left: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.eventSvg{
    position: relative;
    top: -6px;
    left: 62px;
}



