.headerContainer {
  position: relative;
  top: 0;
  left: 0;
}
.background {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.donuts {
  position: absolute;
  top: 0;
  left: 0;
  height: 129px;
  width: 164px;

}

.logo{
  position: absolute;
  top: 7px;
  left: 124px;
  height: 43px;
  width: 96px;
}

.masterclassContainer{
  position: absolute;
  top: 83px;
  left: 48px;
  width: 224px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
  font-family: Caveat Brush;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

.host{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 37px;
}

.burgerButton{
  display: fixed;
  padding-top: 10px;
  padding-right: 10px;
  z-index: 10;
}